@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #1F2937;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1 1 auto;
}

header{
    border-bottom: 1px solid #E1E5EA;
}

.header__container{
    max-width: 1400px;
    padding: 0px 15px;
    width: 100%;
    height: 65px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: -148px;
}

.logo__title{
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin-left: 8px;
}

.logo__title a{
    text-decoration: none;
}

.logo__img{
    width: 36px;
    height: 36px;
}

.header__buttons{
    display: flex;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    justify-content: space-between;
}

.header__button{
    font-size: 20px;
    font-weight: 400;
    padding: 11px;
    border: 0px solid;
    border-radius: 10px;
    text-decoration: none;
}

.header__button:hover{
    cursor: pointer;
    background-color: #f2f2f2;
}

/*--------------------------main------------------------------------------*/

.container{
    max-width: 1400px;
    padding: 0px 15px;
    width: 100%;
    margin: 0 auto;
}

.top_section{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    height: 376px;
    background: url("../img/cinema.jpg") no-repeat center top;
    background-size: cover;
    text-align: center;
}

.top_section__title{
    font-size: 60px;
    font-weight: 700;
    color: #537ccf;
    padding-top: 80px;
    margin-bottom: 28px;
}

.top_section__subtitle{
    font-size: 18px;
    font-weight: 400;
    color: #6C7993;
    margin-bottom: 36px;
}

.top_section__link{
    text-decoration: none;
    padding: 15px 32px;
    border: 0px solid;
    border-radius: 6px;
    background-color: #537ccf;
    color: #fafafa;
}

.top_section__link:hover{
    background-color: #6488d1;
}

.advantages{
    background-color: #fafafa;
    padding: 64px 0px;
}

.main__title{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 48px;
}

.advantages__block{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.advantage{
    width: 318px;
    height: 176px;
    background-color: #fff;
    border: 0px solid;
    border-radius: 8px;
    padding-top: 24px;
    text-align: center;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
}

.advantage__img{
    width: 40px;
    height: 40px;
    margin-bottom: 16px;
}

.advantage__title{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 11px;
}

.advantage__subtitle{
    font-size: 14px;
    line-height: 20px;
    color: #6C7993;
    font-weight: 400;
}

.genres{
    background-color: #fafafa;
    padding: 64px 0px;
}

.genres__container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.genre{
    color: #2258C3;
    font-size: 20px;
    font-weight: 700;
    padding: 11px 20px;
    background-color: #fff;
    border: 0px solid;
    border-radius: 8px;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
}

.description__text{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    color: #6C7993;
    margin-bottom: 20px;
}

/*--------------------------footer----------------------------------------*/

footer{
    height: 65px;
    background-color: #253246;
}

.footer__text{
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-top: 22px;
}