@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #1F2937;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1 1 auto;
}

header{
    border-bottom: 1px solid #E1E5EA;
}

.header__container{
    max-width: 1400px;
    padding: 0px 15px;
    width: 100%;
    height: 65px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: -148px;
}

.logo__title{
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin-left: 8px;
}

.logo__title a{
    text-decoration: none;
}

.logo__img{
    width: 36px;
    height: 36px;
}

.header__buttons{
    display: flex;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    justify-content: space-between;
}

.header__button{
    font-size: 20px;
    font-weight: 400;
    padding: 11px;
    border: 0px solid;
    border-radius: 10px;
    text-decoration: none;
}

.header__button:hover{
    cursor: pointer;
    background-color: #f2f2f2;
}

/*--------------------------main------------------------------------------*/

.container{
    max-width: 1400px;
    padding: 0px 15px;
    width: 100%;
    margin: 0 auto;
}

.search_section{
    padding-top: 20px;
    margin-bottom: 60px;
}

.search_section__title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.search_section__searchline{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.searchline__img {
    width: 24px;
    height: 24px;
    position: relative;
    left: 13px;
}

.searchline__input {
    font-weight: 400;
    font-size: 16px;
    padding: 12px 13px 12px 50px;
    border: 1px solid #E1E5EA;
    border-radius: 10px;
    margin-left: -24px;
    width: 100%;
    margin-right: 20px;
}

.searchline__btn {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    padding: 12px 48px;
    border: 0px solid;
    border-radius: 10px;
    background-color: #3C83F6;
}

.searchline__btn:hover{
    cursor: pointer;
    background-color: #4e91fc;
}

.search_section__params{
    display: flex;
    justify-content: space-between;
}

.params__select {
    font-size: 16px;
    font-weight: 400;
    padding: 12px 13px;
    border: 1px solid #E1E5EA;
    border-radius: 10px;
}

.movie_section__movies {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.movie_section__movie {
    width: 650px;
    display: flex;
    padding: 10px;
    border: 1px solid #E1E5EA;
    border-radius: 10px;
}

.movie__img {
    width: 150px;
    height: 225px;
    object-fit: cover;
}

.movie__description {
    margin-left: 10px;
}

.movie__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
}

.movie__title a{
    text-decoration: none;
}

.movie__genres {
    font-weight: 400;
    font-size: 16px;
    color: #79879A;
    margin-bottom: 30px;
}

.movie__rating {
    display: flex;
    align-items: center;
}

.rating__img {
    width: 24px;
    height: 24px;
}

.rating__number {
    font-size: 14px;
    font-weight: 400;
    margin-left: 5px;
}

.movie_section__pages {
    text-align: center;
    margin-bottom: 20px;
}

.pages__page {
    font-weight: 400;
    font-size: 20px;
    padding: 5px;
    margin-left: 5px;
    border: 1px solid #fff;
}

.pages__page:hover {
    cursor: pointer;
    border-color: #E1E5EA;
}

.disabled:hover{
    cursor: default;
    border-color: #fff;
}

.active{
    background-color: #3C83F6;
    color: #fff;
}

.ellipsis{
    font-weight: 400;
    font-size: 20px;
    padding: 6px;
    margin-left: 5px;
}

/*--------------------------footer----------------------------------------*/

footer{
    height: 65px;
    background-color: #253246;
}

.footer__text{
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-top: 22px;
}
