@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #1F2937;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1 1 auto;
}

header{
    border-bottom: 1px solid #E1E5EA;
}

.header__container{
    max-width: 1400px;
    padding: 0px 15px;
    width: 100%;
    height: 65px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo__title{
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin-left: 8px;
}

.logo__title a{
    text-decoration: none;
}

.logo__img{
    width: 36px;
    height: 36px;
}

.header__buttons{
    display: flex;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    justify-content: space-between;
}

.header__button{
    font-size: 20px;
    font-weight: 400;
    padding: 11px;
    border: 0px solid;
    border-radius: 10px;
    text-decoration: none;
}

.header__button:hover{
    cursor: pointer;
    background-color: #f2f2f2;
}

.header__registration{
    display: flex;
}

.sign_in_btn{
    font-size: 14px;
    font-weight: 400;
    padding: 11px 12px;
    border: 0px solid;
    border-radius: 10px;
    text-decoration: none;
}

.sign_in_btn:hover{
    cursor: pointer;
    background-color: #f2f2f2;
}

.sign_up_btn{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    padding: 11px 12px;
    border: 0px solid;
    border-radius: 10px;
    background-color: #3C83F6;
    margin-left: 8px;
    text-decoration: none;
}

.sign_up_btn:hover{
    cursor: pointer;
    background-color: #4a8cf7;
}

/*--------------------------main------------------------------------------*/

.container{
    max-width: 1400px;
    padding: 0px 15px;
    width: 100%;
    margin: 0 auto;
}

.main__title {
    font-weight: 700;
    font-size: 30px;
    margin-top: 32px;
}

.main__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #79879A;
    margin-bottom: 32px;
}

.profile_card {
    padding: 25px;
    border: 1px solid #E1E5EA;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
    border-radius: 12px;
    margin-bottom: 32px;
}

.profile_card___title_container {
    display: flex;
    align-items: center;
}

.profile_card__title {
    margin-left: 8px;
    font-weight: 600;
    font-size: 22px;
}   

.profile_card__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #79879A;
    margin-bottom: 28px;
}

.profile_card__data_container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile_card__param {
    font-weight: 600;
    font-size: 16px;
    margin-left: 8px;
}

.profile_card__value {
    font-weight: 400;
    font-size: 14px;
    margin-left: 8px;
}

.profile_card__btn{
    width: 200px;
    font-weight: 400;
    font-size: 14px;
    padding: 12px 0px;
    border: 0px;
    border-radius: 10px;
    background-color: #3C83F6;
    color: #fff;
}

.profile_card__btn:hover{
    cursor: pointer;
}

.changes__container {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.changes__container:first-child{
    padding-bottom: 20px;
    border-bottom: 1px solid #E1E5EA;
}

.changes__input_container {
    flex: 1 1 auto;
}

.input_container__title {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 8px;
}

.input_container__input {
    width: 100%;
    font-size: 14px;
    padding: 12px 12px;
    border: 1px solid #E1E5EA;
    border-radius: 10px;
}

.changes__title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 30px;
}

.changes__submit {
    width: 200px;
    font-weight: 400;
    font-size: 16px;
    padding: 12px 0px;
    border: 0px;
    border-radius: 10px;
    background-color: #3C83F6;
    color: #fff;
}

.changes__submit:hover{
    cursor: pointer;
}

.changes__cancel {
    width: 100px;
    font-weight: 400;
    font-size: 16px;
    padding: 12px 0px;
    border: 1px solid #E1E5EA;
    border-radius: 10px;
    background-color: #fff;
    margin-left: 10px;
}

.changes__cancel:hover{
    cursor: pointer;
}

.hidden{
    display: none;
}

.movies__title{
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 20px;
}

.movie_section__movies {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.movie_section__movie {
    width: 650px;
    display: flex;
    padding: 10px;
    border: 1px solid #E1E5EA;
    border-radius: 10px;
}

.movie__img {
    width: 150px;
    height: 225px;
    object-fit: cover;
}

.movie__description {
    margin-left: 10px;
}

.movie__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
}

.movie__title a{
    text-decoration: none;
}

.movie__genres {
    font-weight: 400;
    font-size: 16px;
    color: #79879A;
    margin-bottom: 30px;
}

.movie__rating {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.rating__img {
    width: 24px;
    height: 24px;
}

.rating__number {
    font-size: 14px;
    font-weight: 400;
    margin-left: 5px;
}

.movie__btn{
    width: 200px;
    font-weight: 400;
    font-size: 14px;
    padding: 8px 0px;
    border: 1px solid #E1E5EA;
    border-radius: 10px;
    background-color: #fff;
}

.movie__btn:hover{
    cursor: pointer;
}

.movie_section__pages {
    text-align: center;
    margin-bottom: 20px;
}

.pages__page {
    font-weight: 400;
    font-size: 20px;
    padding: 5px;
    margin-left: 5px;
    border: 1px solid #fff;
}

.pages__page:hover {
    cursor: pointer;
    border-color: #E1E5EA;
}

.disabled:hover{
    cursor: default;
    border-color: #fff;
}

.active{
    background-color: #3C83F6;
    color: #fff;
}

.ellipsis{
    font-weight: 400;
    font-size: 20px;
    padding: 6px;
    margin-left: 5px;
}

/*--------------------------footer----------------------------------------*/

footer{
    height: 65px;
    background-color: #253246;
}

.footer__text{
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-top: 22px;
}
