@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #1F2937;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1 1 auto;
}

header{
    border-bottom: 1px solid #E1E5EA;
}

.header__container{
    max-width: 1400px;
    padding: 0px 15px;
    width: 100%;
    height: 65px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo__title{
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin-left: 8px;
}

.logo__title a{
    text-decoration: none;
}

.logo__img{
    width: 36px;
    height: 36px;
}

.header__buttons{
    display: flex;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    justify-content: space-between;
}

.header__button{
    font-size: 20px;
    font-weight: 400;
    padding: 11px;
    border: 0px solid;
    border-radius: 10px;
    text-decoration: none;
}

.header__button:hover{
    cursor: pointer;
    background-color: #f2f2f2;
}

.header__registration{
    display: flex;
}

.sign_in_btn{
    font-size: 14px;
    font-weight: 400;
    padding: 11px 12px;
    border: 0px solid;
    border-radius: 10px;
    text-decoration: none;
}

.sign_in_btn:hover{
    cursor: pointer;
    background-color: #f2f2f2;
}

.sign_up_btn{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    padding: 11px 12px;
    border: 0px solid;
    border-radius: 10px;
    background-color: #3C83F6;
    margin-left: 8px;
    text-decoration: none;
}

.sign_up_btn:hover{
    cursor: pointer;
    background-color: #4a8cf7;
}

/*--------------------------main------------------------------------------*/


.container{
    width: 448px;
    margin: 0 auto;
    padding-top: 60px;
}

.movie-img{
    display: block;
    margin: 0px auto 16px auto;
    width: 57px;
    height: 57px;
}

.title{
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 8px;
}

.subtitle{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    color: #79879A;
    margin-bottom: 32px;
}

.form{
    padding: 25px;
    border: 1px solid #E1E5EA;
    border-radius: 12px;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
}

.form__title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 6px;
}

.form__subtitle{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #79879A;
    margin-bottom: 24px;
}

.input_title{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 11px;
}

.input{
    padding: 12px 13px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #79879A;
    border: 1px solid #E1E5EA;
    border-radius: 10px;
    margin-bottom: 21px;
}

.password{
    padding-right: 41px;
    margin-bottom: 0px;
}

.eye{
    width: 16px;
    height: 16px;
    position: relative;
    bottom: 30px;
    left: 368px;
}

.eye:hover{
    cursor: pointer;
}

.form__btn{
    font-size: 14px;
    color: #fff;
    width: 100%;
    background-color: #3C83F6;
    text-align: center;
    padding: 12px 0px;
    border: 0px solid;
    border-radius: 10px;
    margin-bottom: 26px;
}

.form__btn:hover{
    cursor: pointer;
    background-color: #4a8cf7;
}

.form__text{
    font-size: 14px;
    line-height: 20px;
    color: #79879A;
    font-weight: 400;
    text-align: center;
}

.text__link{
    text-decoration: none;
    color: #3C83F6;
}

/*--------------------------footer----------------------------------------*/

footer{
    height: 65px;
    background-color: #253246;
}

.footer__text{
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-top: 22px;
}